@model Application.Entities.Charges

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Charges</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room_Charges" class="control-label"></label>
                <input asp-for="Room_Charges" class="form-control" />
                <span asp-validation-for="Room_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nurse_Charges" class="control-label"></label>
                <input asp-for="Nurse_Charges" class="form-control" />
                <span asp-validation-for="Nurse_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor_Charges" class="control-label"></label>
                <input asp-for="Doctor_Charges" class="form-control" />
                <span asp-validation-for="Doctor_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Charges" class="control-label"></label>
                <input asp-for="Medicine_Charges" class="form-control" />
                <span asp-validation-for="Medicine_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laundary_Charges" class="control-label"></label>
                <input asp-for="Laundary_Charges" class="form-control" />
                <span asp-validation-for="Laundary_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canteen_Charges" class="control-label"></label>
                <input asp-for="Canteen_Charges" class="form-control" />
                <span asp-validation-for="Canteen_Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
